[Unit]
Description=Declenche uvsq-schedule-sync toutes les 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
